// This stylesheet contains the dark variables used for the dark theme.
// It overrides the variables in common.variables.styl
$primary   = #375a7f
$secondary = #26496e
$tertiary = white

$body-background = $dark
$body-color = $tertiary

//$card-separator-color = $dark

body > *
  background-color = #525252