{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/first": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/newline-after-import": 0,
    "no-debugger": 2,
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ]
  }
}
