{
  "$schema": "http://json.schemastore.org/prettierrc",
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[.]"
  ]
}