@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

.router-link-active
  color $info

.q-input-target
  color $standard-text-color

.q-menu
  color $standard-text-color
  background-color $block-background

.q-page {
  background: $dark_bright;
}

.bg-dark {
  background: $dark;
}

.bg-dark-bright {
  background: $dark_bright;
}

.grid-item {
  background: $block-background;
}

.widget-modal {
  width: 800px;
  max-width: 100vw;
  background: $dark_bright;
  max-height: 80vh;
}

.widget-dashboard {
  background: $dark;
}

.editable {
  text-decoration: underline;
  cursor: pointer;
}

.hoverable:hover {
  background-color: rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.maximized {
  width: 100%;
  height: 100%;
}

.overflow-unset {
  overflow: unset;
}

.overflow-auto {
  overflow: auto;
}

.darkened {
  color: grey;
}

.darkish {
  opacity: 0.7;
}

.q-dialog {
  .q-dialog__inner > div {
    overflow: visible;
  }
}

.q-scrollarea {
  height: 100%;
  width: 100%;
}

/deep/ .q-scrollarea__thumb {
  opacity: 0.4;
  background: white;
  width: 5px;
}

.align-children > div {
  justify-content: start;
}
