@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

.router-link-active
  color $info

.q-input-target
  color $standard-text-color

.q-menu
  color $standard-text-color
  background-color $block-background

.q-page {
  background: $dark_bright;
}

.bg-dark {
  background: $dark;
}

.bg-dark-bright {
  background: $dark_bright;
}

.widget-modal {
  min-width: 800px;
  max-width: 100vw;
  background: $dark_bright;
  max-height: 80vh;
  overflow: auto;
}

.editable {
  border-bottom: 1px solid gray;
  cursor: pointer;
  margin-bottom: 5px;
}

.darkened {
  color: grey;
}

.build-info {
  bottom: 0;
  position: absolute;
}

.q-dialog {
  .q-dialog__inner > div {
    overflow: visible;
  }
}

.q-scrollarea {
  height: 100%;
  width: 100%;
}

/deep/ .q-scrollarea__thumb {
  opacity: 0.4;
  background: white;
  width: 5px;
}
