@import './quasar.variables.sass'
@import 'quasar/src/css/index.sass'

$widget-border-radius: 4px

.card
  &__Dialog
    width: 800px
    height: 800px
    max-width: 100vw
    max-height: 100vh
    border-radius: $widget-border-radius
    border: 1px solid $dialog-toolbar-color

  &__Dashboard
    max-width: 100%
    position: relative
    border-radius: $widget-border-radius

.toolbar
  &__Dialog
    height: 40px
    min-height: 40px
    background-color: $dialog-toolbar-color
    color: white
    border-radius: $widget-border-radius $widget-border-radius 0 0
    @extend .q-px-xs

  &__Dashboard
    height: 40px
    min-height: 40px
    position: relative
    color: $blue-grey-4
    border-radius: $widget-border-radius $widget-border-radius 0 0
    @extend .q-pa-sm

.content
  &__Dialog
    height: calc(100% - 40px)
    background-color: $dark
    border-radius: 0 0 $widget-border-radius $widget-border-radius

  &__Dashboard
    height: calc(100% - 40px)
    position: relative
    border-radius: 0 0 $widget-border-radius $widget-border-radius

.card__dense,
.card__dense .toolbar__Dialog,
.card__dense .content__Dialog
  border-radius: 0 0 0 0

.widget
  &-sm
    max-width: 400px
  &-md
    max-width: 600px
  &-lg
    max-width: 800px

.widget-body
  @extend .q-pa-md, .q-gutter-sm

.min-width
  &-xs
    min-width: 50px !important
  &-sm
    min-width: 75px !important
  &-md
    min-width: 100px !important
  &-lg
    min-width: 150px !important

.editable
  text-decoration: underline
  cursor: pointer

  &-field
    border-bottom: 1px solid rgba(255, 255, 255, 0.6)

.bg-selected
  background-color: $hover

.no-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.pointer
  cursor: pointer

.hoverable:hover
  background-color: $hover
  cursor: pointer

.clickable
  @extend .depth-1

.clickable:hover
  background-color: $hover
  cursor: pointer

.grabbable
  cursor: grab

.static
  position: static !important

.overflow-unset
  overflow: unset

.overflow-auto
  overflow: auto

.darkened
  color: grey

.darkish
  opacity: 0.7

.monospace
  font-family: "Lucida Console", Monaco, monospace

.q-dialog
  &__inner > div
    overflow: visible

.q-scrollarea
  &__thumb
    opacity: 0.4
    background: white
    width: 5px

.q-header
  border-bottom: 1px solid rgba(255,255,255,0.1) !important
  > .q-bar
    height: 40px

.q-footer
  border-top: 1px solid rgba(255,255,255,0.1) !important
  > .q-bar
    height: 30px

.close-button:hover
  color: $red-6
  > .q-focus-helper
    opacity: 0 !important

.page-height
  // window - top bar - bottom bar - rounding margin
  height: calc(100vh - 40px - 30px - 2px)
  max-height: calc(100vh - 40px - 30px - 2px)

label
  cursor: inherit

.bordered
  border: 1px solid silver

.dashed
  border: 1px dashed silver

.col-break
  flex-basis: 100%
  width: 0
  height: 0

.ellipsis-left
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  direction: rtl
  text-align: left

.text-big
  font-size: 170%

.dev
  &-border
    border: 1px solid red
  &-border-2
    border: 1px dotted yellow
  &-highlight
    background-color: $hover

@for $d from 1 through 9
  .fade-#{$d}
    opacity: 1-$d/10

// automatically apply shadows to depth class
@for $d from 0 to 24
  .depth-#{$d}
    @extend .shadow-#{$d}

// lighten on dark ui
$dark-bg-depth-a: (depth-0: 0, depth-1: 0.05, depth-2: 0.07, depth-3: 0.08, depth-4: 0.09, depth-6: 0.11, depth-8: 0.12, depth-12: 0.14, depth-16: 0.15, depth-24: 0.16)
.body--dark
  @each $name, $v in $dark-bg-depth-a
    .#{$name}
      background-color: rgba(255,255,255,$v)
