// app global css

@import './themes/dark.variables'

.router-link-active
  color $info

.q-input-target
  color $standard-text-color

.q-popover
  color $standard-text-color
  background-color $block-background
